{% if ansible_distribution == 'CentOS' and ansible_distribution_release == 'Stream' %}
{% set releasever = '$releasever-stream' %}
{% else %}
{% set releasever = '$releasever' %} 
{% endif %}

{% if centos_infra_env == 'prod' %}
[centos-admin]
name=CentOS Infra Prod - el{{ansible_distribution_major_version }}
baseurl=http://mirror.stream.centos.org/SIGs/{{ releasever }}/infra/$basearch/infra-common/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-Infra
{% elif centos_infra_env == 'stg' %}
[centos-admin]
name=CentOS Infra Staging - el{{ansible_distribution_major_version }}
baseurl=https://buildlogs.centos.org/centos/{{ releasever }}/infra/$basearch/infra-common/
enabled=1
gpgcheck=0
{% else %}
[centos-admin]
name=CentOS Infra dev - el{{ansible_distribution_major_version }}
baseurl=https://repo.dev.centos.org/{{ releasever }}/infra/infra-common/$basearch/
enabled=1
gpgcheck=0
{% endif %}


