#!/bin/bash

# Managed by Ansible : don't edit !
# using the yum_auto_update variable defined at host/group level to enable/disable daily yum update operation
# Called by: cron (configured by Ansible)
# Script will also send return code back to Zabbix for monitoring purposes

logfile="/var/log/centos-updates.log"

# Checking for some additional repositories and enable these for this script
extra_enabled_repos=$(ls /etc/centos.repos.d/)
dnf_extra_repos_arg=$(for i in ${extra_enabled_repos} ; do echo -n "--enablerepo=${i} " ; done)

{% if yum_auto_update %}
dnf makecache 2>&1 >${logfile} 
dnf update -y --disablerepo=\* --enablerepo=baseos --enablerepo=appstream --enablerepo=crb ${dnf_extra_repos_arg} 2>&1 >>${logfile}
update_status="$?"
zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k system.updates -o $update_status >/dev/null 2>&1
{% else %}
echo "Ansible yum_auto_update variable set to False, skipping yum update ..." > ${logfile}
exit 0
{% endif %}

