
  ##### This system is under configuration automation   ######

    $$$$$$\                       $$\     $$$$$$\   $$$$$$\  
   $$  __$$\                      $$ |   $$  __$$\ $$  __$$\ 
   $$ /  \__| $$$$$$\  $$$$$$$\ $$$$$$\  $$ /  $$ |$$ /  \__|
   $$ |      $$  __$$\ $$  __$$\\_$$  _| $$ |  $$ |\$$$$$$\  
   $$ |      $$$$$$$$ |$$ |  $$ | $$ |   $$ |  $$ | \____$$\ 
   $$ |  $$\ $$   ____|$$ |  $$ | $$ |$$\$$ |  $$ |$$\   $$ |
   \$$$$$$  |\$$$$$$$\ $$ |  $$ | \$$$$  |$$$$$$  |\$$$$$$  |
    \______/  \_______|\__|  \__|  \____/ \______/  \______/ 
                                                       
  ===========================================================   
   {{ inventory_hostname }} / {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_architecture }} (type : {% if ansible_virtualization_role == 'host' -%} Physical Host {% else -%} {{ ansible_virtualization_type }} guest VM {% endif %}) 
    Machine details: {{ ansible_system_vendor }} {{ ansible_product_name }} (SN: {{ ansible_product_serial }} )
    vCPUs/#cores : {{ ansible_processor_vcpus }} ( {{ ansible_processor[1] }} )
    Memory : {{ ansible_memtotal_mb }} MB
    Zabbix server/proxy : {{ zabbix_server }}

  ~~~~~~~ Contact CentOS Infra team for any change ! ~~~~~~~~


